@page "/admin"


@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@using BlazorStrap
@inject NavigationManager NavigationManager

<PageTitle>Welp-Admin</PageTitle>
<BSContainer Container="Container.Fluid" class="ps-5">
  <BSRow Justify="Justify.Center">

    <BSCol>
      <BSAccordion class="pt-5 pe-5">
        <BSAccordionItem>
          <Header><strong>
              Broadcast a message
            </strong></Header>
          <Content>
            <BSRow>
              <p class="mb-0">Client To Server-Hub then Server-Hub To All Clients</p>
            </BSRow>
            <div class="row">
              <div class="col">
                <EditForm Model="@broadcastRequest">
                  <InputText @bind-Value="broadcastRequest!.Message" placeholder="Message" />
                </EditForm>
              </div>
              <div class="col">
                <button @onclick="BroadcastMessage" type="button" class="btn btn-primary massive-button">Send
                  It</button>
              </div>
            </div>
          </Content>
        </BSAccordionItem>
        <BSAccordionItem>
          <Header><strong>
              Messages Broadcasted
            </strong></Header>
          <Content>
            <ul>
              @foreach (var message in broadcastResponses.Select(m => JsonConvert.SerializeObject(m)))
              {
                <li>@message </li>
              }
            </ul>
          </Content>
        </BSAccordionItem>
      </BSAccordion>
    </BSCol>
    <BSCol>
      <BSAccordion class="pt-5 pe-5">
        <BSAccordionItem>
          <Header><strong>
              Send a private message
            </strong></Header>
          <Content>
            <BSRow>

              <p class="mb-0">Client To Server-Hub then Server-Hub To A Specific Client</p>
            </BSRow>
            <div class="row">
              <div class="col">
                <EditForm Model="@privateMessageRequest">
                  <InputText @bind-Value="privateMessageRequest!.IdOrUserName" placeholder="IdOrUserName" />
                  <InputText @bind-Value="privateMessageRequest!.Message" placeholder="Message" />
                </EditForm>
              </div>
              <div class="col">
                <button @onclick="SendPrivateMessage" type="button" class="btn btn-primary massive-button">Send
                  It</button>
              </div>
            </div>
          </Content>
        </BSAccordionItem>
        <BSAccordionItem>
          <Header><strong>
              Private Messages Broadcasted
            </strong></Header>
          <Content>
            <ul>
              @foreach (var message in privateMessageResponses.Select(m => JsonConvert.SerializeObject(m)))
              {

                <li>@message</li>
              }
            </ul>
          </Content>
        </BSAccordionItem>
      </BSAccordion>
    </BSCol>
  </BSRow>
  <BSRow Justify="Justify.Center">
    <BSCol>
      <BSAccordion class="pt-5 pe-5">
        <BSAccordionItem>
          <Header><strong>
              God-Mode
            </strong></Header>
          <Content>
            <BSRow>
              <BSCol Column="5">
                <p class="lead">
                  Current GameState
                </p>
                <BSInput TValue="string" InputType="BlazorStrap.InputType.TextArea" @bind-Value="CurrentGameString"
                  IsDisabled="true" rows="25" />
                <BSRow Justify="Justify.End" class="pt-2">
                  <BSButton Color="BSColor.Primary" class="me-3 massive-button" style="max-width: 200px"
                    @onclick="FetchCurrentGame">Fetch
                    Current</BSButton>
                </BSRow>
              </BSCol>
              <BSCol Column="2" class="d-flex justify-content-center">
                <BSButton @onclick="SetUpdateFromCurrent">
                  <BSImage Source="images/green-arrow.png" style="height: 300px;">
                  </BSImage>
                </BSButton>
              </BSCol>
              <BSCol>
                <p class="lead">
                  Update GameState
                </p>
                <BSInput TValue="string" InputType="BlazorStrap.InputType.TextArea" @bind-Value="UpdateGameString"
                  rows="25" />
                <BSRow Justify="Justify.End" class="pt-2">
                  <BSButton Color="BSColor.Primary" class="me-3 massive-button" style="max-width: 200px"
                    @onclick="UpdateCurrentGame">Update
                    Game</BSButton>
                </BSRow>
              </BSCol>
            </BSRow>
          </Content>
        </BSAccordionItem>
      </BSAccordion>
    </BSCol>
  </BSRow>
</BSContainer>