@page "/game"


<PageTitle>Welp-Admin</PageTitle>
<div class="row">
  <div class="col">
    <img class="game-board" src="images/game-board-2.png" alt="..." />

    <div id="x0y4" class="room x-0 y-4" @ondrop="e => HandleDrop(e,(0,4))" ondragover="event.preventDefault();"
      @ondragenter=" HandleDragEnter" @ondragleave="HandleDragLeave">
      Study(0,4)
    </div>
    <div class="room x-1 y-4">Hall(1,4)</div>
    <div class="room x-2 y-4">Great Hall(2,4)</div>
    <div class="room x-3 y-4">hall(3,4)</div>
    <div class="room x-4 y-4">Lounge(4,4)</div>

    <div class="room x-0 y-3">Hall(0,3)</div>
    <div class="room x-1 y-3">Empty(1,3)</div>
    <div class="room x-2 y-3">Hall(2,3)</div>
    <div class="room x-3 y-3">Empty(3,3)</div>
    <div class="room x-4 y-3">Hall(4,3)</div>

    <div class="room x-0 y-2">Library(0,2)</div>
    <div class="room x-1 y-2">Hall(1,2)</div>
    <div class="room x-2 y-2">Billiard(2,2)</div>
    <div class="room x-3 y-2">Hall(3,2)</div>
    <div class="room x-4 y-2">Dining(4,2)</div>

    <div class="room x-0 y-1">Hall(0,1)</div>
    <div class="room x-1 y-1">Empty(1,1)</div>
    <div class="room x-2 y-1">Hall(2,1)</div>
    <div class="room x-3 y-1">Empty(3,1)</div>
    <div class="room x-4 y-1">Hall(4,1)</div>

    <div class="room x-0 y-0">Conservatory(0,0)</div>
    <div class="room x-1 y-0">Hall(1,0)</div>
    <div class="room x-2 y-0">Ballroom(2,0)</div>
    <div class="room x-3 y-0">Hall(3,0)</div>
    <div class="room x-4 y-0">Kitchen(4,0)</div>
    <BSRow style="margin-top: 100px">
      <BSCol>
        <div draggable='@IsThisMyPiece("blue")' class="piece" id="blue" ondragover="event.preventDefault();"
          ondragstart="event.dataTransfer.setData('blue', event.target.id);"></div>
      </BSCol>


      <BSCol>
        <div draggable=false class="piece" id="red" ondragover="event.preventDefault();"
          ondragstart="event.dataTransfer.setData('red', event.target.id);"></div>
      </BSCol>

    </BSRow>

  </div>
  <div class="col">
    <BSRow>
      <BSCol>
        <BSAccordion class="pt-5 pe-5">
          <BSAccordionItem>
            <Header><strong>
                Player Actions
              </strong></Header>
            <Content>
              <BSRow Justify="Justify.Center">
                <p class="lead">
                  The application logic isn't in place.
                </p>
                <p class="mb-0">
                  However, this action follows the complete player action submission, validation, and communication loop
                  outlined at a high level in the appendix of the updated SRS.
                </p>
                <button @onclick="SendInvalidOperation" type="button" class="btn btn-warning massive-button"
                  style="width: 300px">Send
                  Invalid Operation</button>
                <button @onclick="SendValidOperation" type="button" class="btn btn-success massive-button ms-2"
                  style="width: 300px">Send
                  Valid Operation</button>
              </BSRow>
            </Content>
          </BSAccordionItem>
          <BSAccordionItem>
            <Header><strong>Guess Sheet</strong></Header>
            <Content>
              [Guess Sheet Component]
            </Content>
          </BSAccordionItem>

        </BSAccordion>
      </BSCol>
    </BSRow>
  </div>
</div>