.game-board {
  position: relative;

  width: 1000px;
  top: 3rem;
  left: 3rem;
  opacity: 1;
  z-index: 1;
}

.room {
  position: absolute;
  border: 5px solid blue;
  height: 125px;
  width: 125px;
  word-wrap: break-word;
  opacity: .5;
  z-index: 10;
}

.x-2 {
  left: 235px;
}

.x-1 {
  left: 360px;
}

.x0 {
  left: 485px;
}

.x1 {
  left: 610px;
}

.x2 {
  left: 735px;
}

.y-2 {
  top: 695px;
}

.y-1 {
  top: 570px;
}

.y0 {
  top: 445px;
}

.y1 {
  top: 320px;
}

.y2 {
  top: 195px;
}

.piece {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 10%;

  z-index: 100;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}