@page "/game"
<div class="row">
  <div class="col">
    <img class="game-board" src="images/game-board.png" alt="..." />
  </div>
  <div class="col">
    <BSAccordion class="pt-5 pe-5">
      <BSAccordionItem>
        <Header><strong>
            Player Actions
          </strong></Header>
        <Content>
          put actions in here
        </Content>
      </BSAccordionItem>
      <BSAccordionItem>
        <Header><strong>Guess Sheet</strong></Header>
        <Content>
          Guess Sheet Goes here
        </Content>
      </BSAccordionItem>
      <BSAccordionItem>
        <Header><strong>Private Messages</strong></Header>
        <Content>
          Messages from the server go here
        </Content>
      </BSAccordionItem>
      <BSAccordionItem>
        <Header><strong>
            Raw Logs
          </strong></Header>
        <Content>
          Raw Game Log Goes Here
        </Content>
      </BSAccordionItem>
    </BSAccordion>
  </div>
</div>