.game-board {
  position: relative;

  width: 1000px;
  top: 3rem;
  left: 3rem;
  opacity: 1;
  z-index: 1;
}

.room {
  position: absolute;
  /* border: 5px dashed purple; */
  height: 125px;
  width: 125px;
  word-wrap: break-word;
  opacity: 1;
  z-index: 10;
}

.x-2 {
  left: 175px;
}

.x-1 {
  left: 330px;
}

.x0 {
  left: 485px;
}

.x1 {
  left: 650px;
}

.x2 {
  left: 800px;
}

.y-2 {
  top: 795px;
}

.y-1 {
  top: 640px;
}

.y0 {
  top: 485px;
}

.y1 {
  top: 330px;
}

.y2 {
  top: 175px;
}

.piece {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 10%;
  opacity: 1;
  margin-top: 50px;
  margin-left: 0px;

  z-index: 100;
}

#blue {
  background-color: blue;
}

#character-MissScarlet {
  background-color: red;
}

#character-ProfessorPlum {
  background-color: violet;
}

#character-ColonelMustard {
  background-color: gold;
}

#character-MrsPeacock {
  background-color: blue;
}

#character-MrGreen {
  background-color: green;
}

#character-MrsWhite {
  border: 1px dashed black;
  background-color: white;
}