@inherits LayoutComponentBase

<PageTitle>Welp</PageTitle>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#!">Welp Clueless</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="me-5">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
<BlazoredToasts MaxToastCount="1" />
<section class="wrapper">
    @Body
</section>

<!-- Footer-->
<footer class="py-2 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">JHU-Welp</p>
    </div>
</footer>